.App {
  text-align: center;
  position: relative;
  top: 110px;
  z-index: 1;
  width: 100%;
  padding: 0 150px;
  /* min-height: 100%; */
  padding-bottom: 200px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.homeItem {
  display: inline-block;
  width: 300px;
  padding: 0 10px 50px;
}
.homeItemContent {
}

.homeItemContent > a {
  text-decoration: none;
}

.countryPic {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
}
.countryPic:hover {
  opacity: 0.5;
  transition-duration: 1s;
}
.countryName {
  background-color: #89c53f;
  height: 80px;
  color: white;
  font-size: 30px;
  font-family: "Pacifico", cursive;
}
.cntryNm {
  position: relative;
  top: 20px;
}

.subTitle {
  margin-bottom: 70px;
  font-family: "Pacifico", cursive;
}
.cook {
  padding-top: 100px;
  font-family: "Pacifico", cursive;
}
