.container {
  position: relative;
  top: 200px;
  padding-bottom: 200px;
  /* padding: 0 150px; */

  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.dishesCard {
  width: 200px;
  display: inline-block;
}
.cntryPic {
  width: 200px;
}
.desc {
  width: 300px;
  display: inline-block;
}
.descImg {
  width: 100%;
}
.dishImg {
  width: 300px;
}
